<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ANIMARK</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/animes']" [disabled]="currentRoute === '/animes'">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        Animes
      </ion-button>
      <ion-button [routerLink]="['/to-do-list']" [disabled]="currentRoute === '/to-do-list'">
        <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
        To-Do List
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background centered-content">
  <div class="card-container">
    <ion-list>
      <ion-item *ngFor="let anime of animeList">
        <ion-card>
          <img [src]="anime.images.jpg.image_url" alt="Imagem do Anime" />
          <ion-card-header>
            <ion-card-title>{{ anime.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h3>Titulo: {{ anime.title }}</h3>
            <p>MAL ID: {{ anime.mal_id }}</p>
            <p>Status: {{ anime.status }}</p>
            <p>Número de episódios: {{ anime.episodes }}</p>
            <div>
              <!-- Verificar se o anime já está na lista -->
              <ion-button *ngIf="anime.in_list" color="secondary" disabled>Adicionado</ion-button>
              <ion-button *ngIf="!anime.in_list" color="success" (click)="criarTask(anime)">Adicionar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextPage($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais itens...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisar animes" [(ngModel)]="anime_nome"></ion-searchbar>
    <ion-button (click)="filterAnimes()">Buscar</ion-button>
  </ion-toolbar> 
</ion-footer>-->
