<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ANIMARK</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/animes']" [disabled]="currentRoute === '/animes'">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        Animes
      </ion-button>
      <ion-button [routerLink]="['/to-do-list']" [disabled]="currentRoute === '/to-do-list'">
        <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
        To-Do List
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Animes e Episódios</h1>
  <ion-accordion-group>
    <ion-accordion *ngFor="let anime of todo_anime" [value]="anime.mal_id">
      <ion-item class="acc-head" slot="header">
        <ion-label>
          <h2>{{ anime.titulo }}</h2>
        </ion-label>
        <ion-button slot="end" color="danger" (click)="excluirTask(anime.id)">Excluir</ion-button>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-accordion-group>
          <ion-accordion *ngFor="let episodio of anime.episodios" [value]="episodio.id">
            <ion-item slot="header">
              <ion-label>
                <p>Episódio {{ episodio.numero }}: {{ episodio.assistido ? 'Visto' : 'Não visto' }}</p>
              </ion-label>
              <ion-button slot="end" (click)="toggleEpisodioAssistido(anime.id, episodio.id)">
                Alternar Assistido
              </ion-button>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
